body {
    display: flex;
}

.navbar {
    width: 100%;
    z-index: 1000;
}

#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 56px; /* Ajusta para não cobrir o navbar */
    left: 0;
    transition: all 0.3s;
}

#main-content {
    margin-left: 250px;
    margin-top: 60px; /* Espaço para navbar */
    width: calc(100% - 250px);
    transition: margin-left 0.3s;
}

.collapsed #sidebar {
    width: 0;
    overflow: hidden;
}

.collapsed #main-content {
    margin-left: 0;
    width: 100%;
}
