<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Sistema de Demandas</a>
            <button class="btn btn-warning" onclick="window.location.href='/logout'">Logout</button>
        </div>
    </nav>

