<div class="col-md-2 bg-dark text-white vh-100 position-fixed d-flex flex-column p-3" id="sidebar">
    <hr>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center gap-2" href="/">
                <i class="fas fa-tachometer-alt"></i> Dashboard
            </a>
        </li>
        <hr>

        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center gap-2" href="/demandas">
                <i class="fas fa-tasks"></i> Demandas
            </a>
        </li>
        <hr>

        <li class="nav-item">
            <a class="nav-link text-white d-flex align-items-center gap-2" href="/usuarios">
                <i class="fas fa-users"></i> Usuários
            </a>
        </li>
        <hr>


    </ul>
</div>
